<!DOCTYPE html>
<html lang="en">
  <head class="overflow-auto">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>liveSchool-web</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"

      crossorigin="anonymous"  />
  </head>
  <body class="overflow-auto">
  <svg aria-hidden="true"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      width="0"
      height="0"
      style="position: absolute">
    <defs>
      <symbol id="c-icon-menu" viewBox="0 0 24 24">
        <path d="M3 12.984v-1.969h18v1.969h-18zM3 6h18v2.016h-18v-2.016zM3 18v-2.016h12v2.016h-12z"></path>
      </symbol>
      <symbol id="c-icon-dashboard" viewBox="0 0 24 24">
        <path d="M18.984 18.984v-3.984h-3.984v3.984h3.984zM12.984 12.984h8.016v8.016h-8.016v-8.016zM18.984 9v-3.984h-3.984v3.984h3.984zM12.984 3h8.016v8.016h-8.016v-8.016zM9 18.984v-3.984h-3.984v3.984h3.984zM3 12.984h8.016v8.016h-8.016v-8.016zM9 9v-3.984h-3.984v3.984h3.984zM3 3h8.016v8.016h-8.016v-8.016z"></path>
      </symbol>
      <symbol id="c-icon-analytics" viewBox="0 0 24 24">
        <path d="M11.016 9h3v3h-3v-3zM11.016 12.984h3v7.031h-3v-7.031zM15.984 12.984h3v2.016h-3v-2.016zM15.984 15.984h3v4.031h-3v-4.031zM6 5.016h3v3.984h-3v-3.984zM6 9.984h3v10.031h-3v-10.031z"></path>
      </symbol>
      <symbol id="c-icon-vehicles" viewBox="0 0 24 24">
        <path d="M5.016 11.016h13.969l-1.5-4.5h-10.969zM17.484 15.984q0.609 0 1.055-0.445t0.445-1.055-0.445-1.055-1.055-0.445-1.055 0.445-0.445 1.055 0.445 1.055 1.055 0.445zM6.516 15.984q0.609 0 1.055-0.445t0.445-1.055-0.445-1.055-1.055-0.445-1.055 0.445-0.445 1.055 0.445 1.055 1.055 0.445zM18.938 6l2.063 6v8.016q0 0.422-0.281 0.703t-0.703 0.281h-1.031q-0.422 0-0.703-0.281t-0.281-0.703v-1.031h-12v1.031q0 0.422-0.281 0.703t-0.703 0.281h-1.031q-0.422 0-0.703-0.281t-0.281-0.703v-8.016l2.063-6q0.281-0.984 1.453-0.984h10.969q1.172 0 1.453 0.984z"></path>
      </symbol>
      <symbol id="c-icon-service" viewBox="0 0 24 24">
        <path d="M18.984 20.484q0.609 0 1.055-0.445t0.445-1.055-0.445-1.055-1.055-0.445-1.055 0.445-0.445 1.055 0.445 1.055 1.055 0.445zM22.688 19.5l1.078 0.797q0.094 0.094 0.094 0.234l-0.047 0.047v0.047l-0.984 1.734q-0.141 0.234-0.328 0.141l-1.219-0.516q-0.141 0.141-0.844 0.469l-0.188 1.359q0 0.188-0.281 0.188h-1.969q-0.281 0-0.281-0.188l-0.188-1.359q-0.375-0.188-0.844-0.469l-1.219 0.516q-0.234 0.094-0.328-0.141l-0.984-1.734v-0.047l-0.047-0.047q0-0.141 0.094-0.234l1.078-0.797q0-0.094-0.023-0.281t-0.023-0.234 0.023-0.234 0.023-0.234l-1.078-0.844q-0.141-0.141-0.047-0.328l0.984-1.734q0.094-0.188 0.328-0.094l1.219 0.516q0.563-0.375 0.844-0.516l0.188-1.313q0-0.188 0.281-0.188h1.969q0.281 0 0.281 0.188l0.188 1.313q0.188 0.094 0.844 0.516l1.219-0.516q0.234-0.094 0.328 0.094l0.984 1.734v0.047q0.047 0.047 0.047 0.094 0 0.094-0.094 0.188l-1.078 0.844q0.047 0.141 0.047 0.469 0 0.094-0.023 0.281t-0.023 0.234zM18.984 11.484q-3.094 0-5.297 2.203t-2.203 5.297q0 0.375 0.094 1.031h-11.578l20.016-20.016-0.047 11.578q-0.656-0.094-0.984-0.094z"></path>
      </symbol>
      <symbol id="c-icon-map" viewBox="0 0 24 24">
        <path d="M15 18.984v-11.859l-6-2.109v11.859zM20.484 3q0.516 0 0.516 0.516v15.094q0 0.375-0.375 0.469l-5.625 1.922-6-2.109-5.344 2.063-0.141 0.047q-0.516 0-0.516-0.516v-15.094q0-0.375 0.375-0.469l5.625-1.922 6 2.109 5.344-2.063z"></path>
      </symbol>
      <symbol id="c-icon-chat" viewBox="0 0 24 24">
        <path d="M12 11.016l8.016-5.016h-16.031zM20.016 18v-9.984l-8.016 4.969-8.016-4.969v9.984h16.031zM20.016 3.984q0.797 0 1.383 0.609t0.586 1.406v12q0 0.797-0.586 1.406t-1.383 0.609h-16.031q-0.797 0-1.383-0.609t-0.586-1.406v-12q0-0.797 0.586-1.406t1.383-0.609h16.031z"></path>
      </symbol>
      <symbol id="c-icon-settings" viewBox="0 0 24 24">
        <path d="M12 15.516q1.453 0 2.484-1.031t1.031-2.484-1.031-2.484-2.484-1.031-2.484 1.031-1.031 2.484 1.031 2.484 2.484 1.031zM19.453 12.984l2.109 1.641q0.328 0.234 0.094 0.656l-2.016 3.469q-0.188 0.328-0.609 0.188l-2.484-0.984q-0.984 0.703-1.688 0.984l-0.375 2.625q-0.094 0.422-0.469 0.422h-4.031q-0.375 0-0.469-0.422l-0.375-2.625q-0.891-0.375-1.688-0.984l-2.484 0.984q-0.422 0.141-0.609-0.188l-2.016-3.469q-0.234-0.422 0.094-0.656l2.109-1.641q-0.047-0.328-0.047-0.984t0.047-0.984l-2.109-1.641q-0.328-0.234-0.094-0.656l2.016-3.469q0.188-0.328 0.609-0.188l2.484 0.984q0.984-0.703 1.688-0.984l0.375-2.625q0.094-0.422 0.469-0.422h4.031q0.375 0 0.469 0.422l0.375 2.625q0.891 0.375 1.688 0.984l2.484-0.984q0.422-0.141 0.609 0.188l2.016 3.469q0.234 0.422-0.094 0.656l-2.109 1.641q0.047 0.328 0.047 0.984t-0.047 0.984z"></path>
      </symbol>
      <symbol id="c-icon-bell" viewBox="0 0 24 24">
        <path d="M15.984 17.016v-6q0-1.922-1.078-3.211t-2.906-1.289-2.906 1.289-1.078 3.211v6h7.969zM18 15.984l2.016 2.016v0.984h-16.031v-0.984l2.016-2.016v-4.969q0-2.344 1.195-4.078t3.305-2.25v-0.703q0-0.609 0.422-1.055t1.078-0.445 1.078 0.445 0.422 1.055v0.703q2.109 0.516 3.305 2.25t1.195 4.078v4.969zM12 21.984q-0.797 0-1.406-0.586t-0.609-1.383h4.031q0 0.797-0.609 1.383t-1.406 0.586z"></path>
      </symbol>
      <symbol id="c-icon-comment" viewBox="0 0 24 24">
        <path d="M18 8.016v-2.016h-12v2.016h12zM18 11.016v-2.016h-12v2.016h12zM18 14.016v-2.016h-12v2.016h12zM21.984 3.984v18l-3.984-3.984h-14.016q-0.797 0-1.383-0.609t-0.586-1.406v-12q0-0.797 0.586-1.383t1.383-0.586h16.031q0.797 0 1.383 0.586t0.586 1.383z"></path>
      </symbol>
      <symbol id="c-icon-bolt" viewBox="0 0 24 24">
        <path d="M11.016 21h-1.031l1.031-6.984h-3.516q-0.75 0-0.375-0.656 0.141-0.234 0.047-0.141 2.391-4.172 5.813-10.219h1.031l-1.031 6.984h3.516q0.656 0 0.422 0.656z"></path>
      </symbol>
      <symbol id="c-icon-keyboard_arrow_down" viewBox="0 0 24 24">
        <path d="M7.406 8.578l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z"></path>
      </symbol>
      <symbol id="c-icon-keyboard_arrow_up" viewBox="0 0 24 24">
        <path d="M7.406 15.422l-1.406-1.406 6-6 6 6-1.406 1.406-4.594-4.594z"></path>
      </symbol>
      <symbol id="c-icon-keyboard_control" viewBox="0 0 24 24">
        <path d="M12 9.984q0.797 0 1.406 0.609t0.609 1.406-0.609 1.406-1.406 0.609-1.406-0.609-0.609-1.406 0.609-1.406 1.406-0.609zM18 9.984q0.797 0 1.406 0.609t0.609 1.406-0.609 1.406-1.406 0.609-1.406-0.609-0.609-1.406 0.609-1.406 1.406-0.609zM6 9.984q0.797 0 1.406 0.609t0.609 1.406-0.609 1.406-1.406 0.609-1.406-0.609-0.609-1.406 0.609-1.406 1.406-0.609z"></path>
      </symbol>
      <symbol id="c-icon-arrow-up-right" viewBox="0 0 24 24">
        <path d="M7 8h7.586l-8.293 8.293c-0.391 0.391-0.391 1.024 0 1.414s1.024 0.391 1.414 0l8.293-8.293v7.586c0 0.552 0.448 1 1 1s1-0.448 1-1v-10c0-0.136-0.027-0.265-0.076-0.383s-0.121-0.228-0.216-0.323c-0.001-0.001-0.001-0.001-0.002-0.002-0.092-0.092-0.202-0.166-0.323-0.216-0.118-0.049-0.247-0.076-0.383-0.076h-10c-0.552 0-1 0.448-1 1s0.448 1 1 1z"></path>
      </symbol>
      <symbol id="c-icon-arrow-down-right" viewBox="0 0 24 24">
        <path d="M16 7v7.586l-8.293-8.293c-0.391-0.391-1.024-0.391-1.414 0s-0.391 1.024 0 1.414l8.293 8.293h-7.586c-0.552 0-1 0.448-1 1s0.448 1 1 1h10c0.136 0 0.265-0.027 0.383-0.076s0.228-0.121 0.324-0.217c0.092-0.092 0.166-0.202 0.217-0.324 0.049-0.118 0.076-0.247 0.076-0.383v-10c0-0.552-0.448-1-1-1s-1 0.448-1 1z"></path>
      </symbol>
      <symbol id="c-icon-location_onplaceroom" viewBox="0 0 24 24">
        <path d="M12 11.484q1.031 0 1.758-0.727t0.727-1.758-0.727-1.758-1.758-0.727-1.758 0.727-0.727 1.758 0.727 1.758 1.758 0.727zM12 2.016q2.906 0 4.945 2.039t2.039 4.945q0 1.453-0.727 3.328t-1.758 3.516-2.039 3.070-1.711 2.273l-0.75 0.797q-0.281-0.328-0.75-0.867t-1.688-2.156-2.133-3.141-1.664-3.445-0.75-3.375q0-2.906 2.039-4.945t4.945-2.039z"></path>
      </symbol>
      <symbol id="c-icon-show_chart" viewBox="0 0 24 24">
        <path d="M3.516 18.469l-1.5-1.5 7.5-7.5 3.984 4.031 7.078-7.969 1.406 1.406-8.484 9.563-3.984-4.031z"></path>
      </symbol>
      <symbol id="c-icon-check" viewBox="0 0 24 24">
        <path d="M9 16.172l10.594-10.594 1.406 1.406-12 12-5.578-5.578 1.406-1.406z"></path>
      </symbol>
    </defs>
  </svg>
    <noscript>
      <strong>We're sorry but vue-velocity-lib doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
