.max-w-7xl {
  max-width: 84rem !important;
}
.max-w-8xl {
  max-width: 96rem !important;
}
.button-main {
  background: #000000;
  color: white;
}
.button-verified {
  background: #808080;
  color: white;
}

/* background */
.bg-gray-900 {
  background: #666666;
}
.bg-gray-btn {
  background: #333333;
}
.bg-primary-normal {
  background-color: #2e5bff;
}
/* border */
.border-l-3 {
  border-left: 5px solid #000000;
}
.borderGreen {
  border-color: #55ACB8;
}
/* color */
.text-gray-1 {
  color: #bfc5d2;
}
