<template>
    <main>
      <header class="w-full bg-red-600 text-center py-8">
        header
      </header>

      <div class="flex">
        <div class="flex-1 text-center bg-yellow-500 p-3">Aside1</div>
        <div class="w-4/5 bg-blue-500 p-3">
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus velit, quibusdam vero aliquid et quas tempore minima, quidem natus laborum maiores laboriosam? Delectus asperiores dolorum voluptatem beatae omnis voluptates nemo voluptas modi non ab doloribus sequi velit cupiditate tenetur a inventore, nostrum quae molestiae! Voluptatum aliquam veniam ut magni vitae molestiae recusandae reprehenderit animi assumenda, voluptatibus hic dolor id aut at quis quos facere perspiciatis. Ea molestias ex, fugit vel cupiditate animi reiciendis! Quisquam numquam earum harum, ipsam commodi laborum eaque ad nemo eius, sapiente rem consequuntur. Dicta assumenda adipisci, dolor, odit itaque quia, consequatur nobis commodi vitae earum temporibus.</p>
        </div>
        <div class="flex-1 text-center bg-pink-500 p-3">Aside2</div>
      </div>

      <footer class="w-full bg-green-600 text-center py-8">
        footer
      </footer>
    </main>
</template>

<script>
  export default {
    name: 'home',
    components: {

    },
    data () {
      return {
      }
    },
    mounted () {
      this.Ques31()
      this.Ques32()
    },
    methods: {
      f1 () {
        console.log('f1')
      },
      f2 () {
        console.log('f2')
      },
      f3 () {
        console.log('f3')
      },
      async Ques31 () {
        await this.f1()
        await this.f2()
        await this.f3()
      },

      async Ques32() {
        let self = this

        var delay = function(r,s) {
          return new Promise(function(resolve, reject) {
          setTimeout(function() {
            resolve([r,s])
          },s)
          })
        };

        delay('a',0).then(function(v){
          self.f1()
          return delay('b', 5000)
        }).then(function(v){
          self.f2()
          return delay('c', 5000)
        }).then(function(v){
          self.f3()
        });
      }
    }
  }
</script>

<style scoped>
</style>
